[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
bleach = "==3.3.0"
certifi = "2024.7.4"
cffi = "==1.14.5"
chardet = "==4.0.0"
cryptography = "44.0.1"
defusedxml = "==0.6.0"
django = "6.0rc1"
django-allauth = "==0.50.0"
django-crispy-forms = "==1.11.0"
idna = "3.7"
importlib-metadata = "==3.4.0"
markdown = "*"
oauthlib = "==3.1.0"
packaging = "==20.9"
psycopg2-binary = "*"
pycparser = "==2.20"
pyjwt = "2.10.1"
pymdown-extensions = "10.16.1"
pyparsing = "==2.4.7"
python3-openid = "==3.2.0"
pytz = "==2021.1"
requests = "2.32.4"
requests-oauthlib = "==1.3.0"
six = "*"
sqlparse = "0.5.0"
typing-extensions = "==3.7.4.3"
urllib3 = "2.6.3"
webencodings = "==0.5.1"
zipp = "3.19.1"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
setuptools = "*"
apscheduler = "*"
django-apscheduler = "*"
isort = "*"

[dev-packages]
black = "*"
isort = "*"
pytest = "~=8.0.0"

[requires]
python_version = "3.13"
